.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav-button {
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #e0e0e0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}



.fav-button.active {
  background-color: gold;
  color: #000;
}


.bouton-details {
  margin: 10px 0px;
  background: none;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
