.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.fav-button {
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  background-color: #e0e0e0;
  color: #333;
  font-size: 14px;
  font-weight: bold;

  transition: all 0.2s ease;
}

.fav-button:hover {
  background-color: #d5d5d5;
}

.fav-button.active {
  background-color: gold;
  color: #000;
}

.pokemon-list {
  display: flex;       /* Aligne les éléments */
  flex-wrap: wrap;     /* Permet de passer à la ligne */
  justify-content: center; /* Centre tout au milieu */
  gap: 20px;           /* Espace entre les cartes */
  padding: 20px;
}


